---
// No usamos Layout aquí porque esta página es invisible, 
// solo sirve para redirigir rápido.
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Redireccionando...</title>
		
		<script is:inline>
			// 1. Detectar el idioma del navegador (ej: 'es-CO', 'en-US', 'fr-FR')
			const lang = navigator.language || navigator.userLanguage;
			
			// 2. Lógica de decisión
			// Si el idioma empieza por 'es' (español), mandarlo a /es/
			if (lang.startsWith('es')) {
				window.location.replace('/es/');
			} 
			// Para cualquier otro idioma (Inglés, Francés, Chino...), mandarlo a /en/
			else {
				window.location.replace('/en/');
			}
		</script>
		
		<meta http-equiv="refresh" content="0;url=/es/" />
	</head>
	<body>
	</body>
</html>